<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <style>
        .color {
            margin: 0;
            border: 0;
            padding: 0;
            height: 75px;
        }
	.black:hover {
	    color: #323333 !important;
	}
	.white:hover {
	    color: #f5f9fa !important;
	}
	.gray:hover {
	    color: #808080 !important;
	}

    </style>


</head>

<body class="text-center" ng-app="myApp">
    <section ng-controller="myController">
        <div class="jumbotron">
            <h1>Fridge Binge Palette</h1>
        </div>
        <div class="row">
            <div class="col-xs-1 color" ng-repeat="color in lightColors" ng-style={"background-color":"{{color}}","width":"{{100/12}}%","color":"{{color}}"}><h1 class="black">{{color}}</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-1 color" ng-repeat="color in primaryColors" ng-style={"background-color":"{{color}}","width":"{{100/12}}%","color":"{{color}}"}><h1 class="black">{{color}}</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-1 color" ng-repeat="color in darkColors" ng-style={"background-color":"{{color}}","width":"{{100/12}}%","color":"{{color}}"}><h1 class="white">{{color}}</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-1 color" ng-repeat="color in otherColors track by $index" ng-style={"background-color":"{{color}}","width":"{{100/12}}%","color":"{{color}}"}><h1 class="white">{{color}}</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-3 color" ng-repeat="color in grayScale" ng-style={"background-color":"{{color}}","width":"{{100/4}}%","color":"{{color}}"}><h1 class="gray">{{color}}</h1></div>
        </div>
    </section>

</body>


</html>
